{
  "extends": ["parsley/esnext", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": "node"
  },
  "env": {
    "node": true
  }
}
